<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="usdaUrl" value="https://apps.fas.usda.gov/PSDOnlineDataServices/api/CommodityData/GetCommodityDataByYear?commodityCode=" />
    <add key="commodityCode" value="" />
    <add key="API_KEY" value="5E67F11C-DBE0-40CE-A72F-5F8F0EC566D7" />
   <add key="filePath" value="\\tedfil01\BatchDEV\AgEcon\PSD_Data\" />

  </appSettings>
</configuration>